/**
* Template Name: Restaurantly
* Updated: Sep 20 2023 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Playwrite CO", cursive;
    background: #ffffff;
    color: #fff;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playwrite CO", cursive;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 2px solid #ffffff;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #ffffff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #ffffff;
    color: #1a1814;
  }
  
  .back-to-top:hover i {
    color: #444444;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
  }
  
  #topbar.topbar-scrolled {
    top: -40px;
  }
  
  #topbar .contact-info i {
    font-style: normal;
    color: #ffffff;
  }
  
  #topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
  }
  
  #topbar .languages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  
  #topbar .languages ul a {
    color: white;
  }
  
  #topbar .languages ul li+li {
    padding-left: 10px;
  }
  
  #topbar .languages ul li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: "/";
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
  }
  
  #header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 70px;
  }
  
  /*--------------------------------------------------------------
  # Book a table button Menu
  --------------------------------------------------------------*/
  .book-a-table-btn {
    margin: 0 0 0 15px;
    border: 2px solid #ffffff;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .book-a-table-btn:hover {
    background: #ffffff;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    .book-a-table-btn {
      margin: 0 15px 0 0;
      padding: 8px 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #fff;
    white-space: nowrap;
    transition: 0.1s;
    font-size: 20px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #ffffff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    color: #444444;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #ffffff;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.1s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #202020;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    color: #ffffff;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #ffffff;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #ffffff;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/wedding/IMG_9656.jpg") top center;
    position: relative;
    padding: 0;
    background-position: 0px 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.473);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    padding-top: 110px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 98px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: "Dancing Script", cursive;
  }
  
  #hero h1 span {
    color: #ffffff;
  }
  
  #hero h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: "Dancing Script", cursive;
  }
  
  #hero .btns {
    margin-top: 30px;
  }
  
  #hero .btn-menu,
  #hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #ffffff;
  }
  
  #hero .btn-menu:hover,
  #hero .btn-book:hover {
    background: #000000;
    color: #fff;
  }
  
  #hero .btn-book {
    margin-left: 15px;
  }
  
  #hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#ffffff 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  #hero .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #hero .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  #hero .play-btn:hover::after {
    border-left: 15px solid #ffffff;
    transform: scale(20);
  }
  
  #hero .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
  
  @media (min-width: 1366px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #hero .play-btn {
      margin-top: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: auto;
    }
  
    #hero .container {
      padding-top: 130px;
      padding-bottom: 60px;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 55px;
      line-height: 100px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /*--------------------------------------------------------------
  # Hero Section 2
  --------------------------------------------------------------*/
  #heroo {
    width: 100%;
    height: 60vh;
    background: url("../img/job.jpeg") center;
    background-size: cover;
    position: relative;
    padding: 0;
  }
  
  #heroo:before {
    content: "";
    background: rgba(0, 0, 0, 0.61);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #heroo .container {
    padding-top: 110px;
  }
  
  @media (max-width: 992px) {
    #heroo .container {
      padding-top: 98px;
    }
  }
  
  #heroo h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  #heroo h1 {
    color: #ffffff;
  }
  
  @media (min-width: 1366px) {
    #heroo {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 992px) {
    #heroo .play-btn {
      margin-top: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #heroo {
      height: auto;
    }
  
    #heroo .container {
      padding-top: 130px;
      padding-bottom: 60px;
    }
  }
  
  @media (max-width: 768px) {
    #heroo h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #heroo h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #1a1814;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }

  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #1d1b16;
  margin-top: 110px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 98px;
  }
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #37332a;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("../img/cerdos_nosotros.jpg") center center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

.about:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .about-img {
  position: relative;
  transition: 0.5s;
}

.about .about-img img {
  max-width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.about .about-img::before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: "";
  border-left: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  transition: 0.5s;
}

.about .about-img::after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
  content: "";
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  transition: 0.5s;
}

.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover::before {
  left: 10px;
  top: 10px;
}

.about .about-img:hover::after {
  right: 10px;
  bottom: 10px;
}

.about .content {
  position: relative;
}

.about .content h2 {
  font-weight: 600;
  font-size: 35px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffffff;
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .about {
    background-attachment: fixed;
  }
}


/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px;
  transition: 0.3s;
  color: #fff;
  border-radius: 0;
  border-right: 2px solid #ffffff;
  font-weight: 600;
  font-size: 15px;
}

.specials .nav-link:hover {
  color: #ffffff;
}

.specials .nav-link.active {
  color: #1a1814;
  background: #ffffff;
  border-color: #ffffff;
}



.specials .nav-link:hover {
  border-color: #ffffff;
}

.specials .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.specials .details p {
  color: #aaaaaa;
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
}

  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
  }

  .services .section-title p {
    margin: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    font-family: "Playwrite CO", cursive;
    color: #000000;
  }

  .services .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgb(255, 255, 255);
    transition: all ease-in-out 0.3s;
    background: #ffffff;
  }
  
  .services .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .services .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .services .box p {
    color: #000000;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .services .box:hover {
    background: #ffffff;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .services .box:hover span,
  .services .box:hover h4,
  .services .box:hover p {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Menu Section
  --------------------------------------------------------------*/
  .menu #menu-flters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
  }
  
  .menu #menu-flters li:hover,
  .menu #menu-flters li.filter-active {
    color: #ffffff;
  }
  
  .menu #menu-flters li:last-child {
    margin-right: 0;
  }
  
  .menu .menu-item {
    margin-top: 50px;
  }
  
  .menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  
  .menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .menu .menu-content::after {
    content: "......................................................................" "...................................................................." "....................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #bab3a6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .menu .menu-content a {
    padding-right: 10px;
    background: #1a1814;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: white;
    transition: 0.3s;
  }
  
  .menu .menu-content a:hover {
    color: #ffffff;
  }
  
  .menu .menu-content span {
    background: #1a1814;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }

  /*--------------------------------------------------------------
  # Gallery
  --------------------------------------------------------------*/
  .gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #454035;
    border-bottom: 3px solid #454035;
  }
  
  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }

/*--------------------------------------------------------------
# units
--------------------------------------------------------------*/
.units {
  background: #222222;
}

.units .member {
  text-align: center;
  margin-bottom: 20px;
  background: #222222;
  position: relative;
  overflow: hidden;
}

.units .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.units .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}

.units .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 28px;
  color: #fff;
}

.units .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 20px;
  color: #fff;
}

.units .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}

.units .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}

.units .member .social a:hover {
  color: #cda45e;
}

.units .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.units .member:hover .member-info {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.8) 100%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.units .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}

.units .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
  text-align: center;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90%;
  z-index: 2;
}

.testimonials .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.form-control{
  background-color: #00000000;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}


.contact .section-title p {
  margin: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Playwrite CO", cursive;
  color: #000000;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #000000;
  border-top-color: #1a1814;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form select,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: #ffffff;
  border-color: #000000;
  color: white;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form select::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: #000000;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form select::placeholder,
.contact .php-email-form textarea::placeholder {
  color: #000000;
}

.contact .php-email-form input:focus,
.contact .php-email-form select:focus,
.contact .php-email-form textarea:focus {
  border-color: #000000;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form select {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #ffffff;
  border: 3;
  padding: 10px 35px;
  color: #000000;
  transition: 0.4s;
  border-radius: 50px;
  border-color: #000000;
}

.contact .php-email-form button[type=submit]:hover {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: rgb(255, 255, 255);
    padding: 0 0 30px 0;
    color: #000000;
    font-size: 14px;
  }

  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #000000;
  }

  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #000000;
  }

  #footer .credits a{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #000000;
  }


  /*--------------------------------------------------------------
  # Music
  --------------------------------------------------------------*/

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ancho del 100% del viewport */
    height: 100%; /* Alto del 100% del viewport */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco no muy transparente */
    z-index: 1000;
    text-align: center;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; /* Ancho del contenido del popup */
    max-width: 500px; /* Ancho máximo permitido */
}

.popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.audio-controls {
    display: flex;
    justify-content: center;
}

.audio-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.audio-btn i {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text horizontally */
}

.portfolio .section-title p {
  margin: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Playwrite CO", cursive;
  color: #000000;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item:hover img {
  top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*
# Contador de días
*/

.countdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.countdown div {
  flex: 1;
  padding: 20px;
  background-color: #282828;
  border-radius: 10px;
  min-width: 80px;
  margin: 0 10px;
}
.countdown span {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .countdown {
      flex-direction: row;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .countdown div {
      margin: 30px 1px;
  }
}


/*
Lista de padres de los novios
*/
.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.list-container div {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
}
h3 {
  color: #000000;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}

.custom-form .form-control,
.custom-form textarea {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.custom-form button {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: black;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.form-check-label {
  margin-right: 15px;
}

.confirmation .section-title p {
  margin: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Playwrite CO", cursive;
  color: #000000;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Playwrite CO", cursive;
  color: #000000;
}


.custom-carousel-img {
  width: 100%;
  max-height: 700px; /* Ajusta esta altura según tus necesidades */
  object-fit: contain;
}

@media (min-width: 768px) {
  .custom-carousel-img {
      max-height: 700px; /* Ajusta esta altura según tus necesidades para la vista de escritorio */
  }
}

@media (min-width: 992px) {
  .custom-carousel-img {
      max-height: 700px; /* Ajusta esta altura según tus necesidades para pantallas más grandes */
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Color negro para los íconos */
}
